.image-about-div{
    margin-top: 50px;
    width:28%;
    margin-bottom:20px;
    margin-left: 40%;
}
img {
    border-radius: 50%;
  }
#navigation{
    font-size: 30px;
    
    background-color: beige;
    display: inline;
    margin-left: 30%;
   
}
.grid-container{
    margin-left: 30%;
      display: grid;    
      grid-template-columns: 100px 100px 100px;
      grid-gap: 0.5rem;
      color: rosybrown;
  
}
.project {
    margin-left: 27%;
    text-align: center;
    margin-right: 27%;
    border: 3px solid greenyellow;
  }
