.image-about-div{
    margin-top: 50px;
    
    margin-bottom:20px;
    margin-left: 23%;
}
img {
    border-radius: 50%;
  }
#navigation{
    font-size: auto;
    white-space: nowrap;
    text-align: center;
    background-color: beige;
    display: inline;
    margin-left: 5%;
   
}
body{
  background-color: khaki ;
  margin: 0 auto;
}
.grid-container{
    margin-left: 20%;
      display: grid;    
      grid-template-columns: 100px 100px 100px;
      grid-gap: 0.5rem;
      color: rosybrown;
  
}
.project {
    margin-left: 10%;
    font-size: large;
    margin-right: 0%;
    border: 3px solid greenyellow;
  }
  .blog-item
  {margin-left: 15%;
    
    margin-right: 0%;
    font-size: large;
    color: green;

  }
